productos {
  width: 100%;
}

table {

  width: 100%;

  thead > tr {
    font-weight: bold;
  }

  tr {
    margin: 0;
    padding: $btk-gap 0;
    border: none;
    border-bottom: 5px solid $btk-color-separator;
    text-align: center;
  }
}