$btk-gap:  1em !default;
$btk-gap-x1: $btk-gap * 1;
$btk-gap-x2: $btk-gap * 2;
$btk-gap-x3: $btk-gap * 3;
$btk-gap-x4: $btk-gap * 4;
$btk-gap-x5: $btk-gap * 5;
$btk-gap-x6: $btk-gap * 6;
$btk-gap-x7: $btk-gap * 7;
$btk-gap-x8: $btk-gap * 8;

$btk-gap-d1: $btk-gap / 1;
$btk-gap-d2: $btk-gap / 2;
$btk-gap-d3: $btk-gap / 3;
$btk-gap-d4: $btk-gap / 4;
$btk-gap-d5: $btk-gap / 5;
$btk-gap-d6: $btk-gap / 6;
$btk-gap-d7: $btk-gap / 7;
$btk-gap-d8: $btk-gap / 8;