$btk-xs-max:  480px !default;

$btk-sm-min:  481px !default;
$btk-sm-max:  720px !default;

$btk-md-min:  721px !default;
$btk-md-max:  900px !default;

$btk-lg-min:  901px !default;
$btk-lg-max: 1100px !default;

$btk-xl-min: 1101px !default;
